
<a href="/"><img src="../img/voltar.png"></a>
<div class ="titulo">
    <h2>Atualizando o Colaborador</h2>
</div>
<div class="form_e_tit">
    <div id = "dados">
        <h3>Entre com os novos dados do Colaborador</h3>
    </div>
    <div class = "formulario">
        <form id="registra_funcionario" action="/atualizar_funcionario" method="POST" class="form-registro">
            <label for="name" class="form">Nome</label><br>
            <input type="text" name="nome" value="{{nome}}" class="form-control" required autofocus><br/><br/>
            <label for="genero" class="form">Genero</label><br>
            <input type="text" name="genero"  value="{{genero}}" class="form-control"  required autofocus><br/><br/>
            <label for="date" class="form">Data de nascimento</label><br>
            <input type="date" name="nasc" value="{{nasc}}" class="form-control"  required autofocus><br/><br/>
            <label for="cpf" class="form">CPF</label><br>
            <input type="number" name="cpf" value="{{cpf}}" class="form-control"  required autofocus><br/><br/>
            <label for="endereco" class="form">Endereço</label><br>
            <input type="text" name="endereco" value="{{endereco}}" class="form-control" required autofocus><br/><br/>
            <label for="telefone" class="form">Telefone</label><br>
            <input type="number" name="telefone" value="{{telefone}}" class="form-control"  required autofocus><br/><br/>
            <label for="Email" class="form">Email</label><br>
            <input type="email" name="email" value="{{email}}" class="form-control" required autofocus><br/><br/>
            <input type="hidden" name="id" value="{{id}}" class="form-control" >
            <button class="btn_form" type="submit">Atualizar</button>
        </form>
    </div>
</div>